.slick-next,
.slick-prev {
  color: black;
  background: url("../media/svg/verticali-slider-arrows.svg") 100% 100% no-repeat;
  background-size: auto;
  width: 40px;
  height: 40px;

  &:hover {
    color: black;
    background: url("../media/svg/verticali-slider-arrows.svg") 100% 100% no-repeat;
    background-size: auto;
    width: 40px;
    height: 40px;
  }
}

.slick-next {
  top: 90%;
  left: 100%;
  transform: rotate(180deg);
}

.slick-prev {
  left: 100%;
  top: 5%;
}

.filtering-mp {
  min-height: 705px;

  .movies-mp {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .tv-mp {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 10px;
  }

  img {
    display: inline-block;
    width: 105px;
    height: 160px;
  }

  .rate {
    display: inline-block;
    font-family: 'Lato', Tahoma, Geneva, sans-serif;
    font-size: 16px;
    text-align: center;
  }

  .movie__block {
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;

    .movie__title {
      font-family: $font-rc;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0;
      color: #389ef2;
    }

    .movie__about {
      font-family: $font-rc;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0;
      color: #202020;
    }

    .movie__description {
      max-width: 850px;
      margin-top: 15px;
      margin-bottom: 20px;
      font-family: $font-rc;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 0;
      color: #4b555d;
    }

    .movie__icons {
      vertical-align: center;

      div {
        vertical-align: center;
        display: inline-block;

        a {
          vertical-align: top;
          font-family: $font-r;
          font-size: 20px;
          font-weight: 700;
          letter-spacing: 0;
          line-height: 20px;
          color: #202020;
          padding-right: 10px;
          border-right: 1px solid #202020;
        }

        img {
          vertical-align: center;
          width: 25px;
          height: 25px;
          margin-right: 35px;

          &:not(:first-child) {
            padding-left: 10px;
          }
        }
      }
    }
  }
}

.bg-style {
  display: flex;
  flex-direction: row;
}

.counter {
  display: inline-flex;
  cursor: pointer;
  width: 150px;
  height: 150px;
  max-width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  transition: height 0.2s ease-in-out;
  background: #fff;
  border-radius: 50%;
}

.percentage {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 0;
  right: 0;
  vertical-align: middle;
  transform: translate3d(0,-50%,0);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.filtering-mp .slick-arrow {
  width: 30px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.slick-vertical .slick-arrow:hover {
  opacity: 0.6;
}

.all-filters-mp a {
  padding: 5px 55px;
  border: 2px solid #ffffff;
  border-radius: 50px 50px 50px 50px;

  &:active {
    background: #ffffff;
    color: #202020;
  }

  &:hover {
    background: #ffffff;
    color: #202020;
  }
}

.movies-filter-mp a {
  padding: 5px 40px;
  border: 2px solid #ffffff;
  border-radius: 50px 50px 50px 50px;

  &:active {
    background: #ffffff;
    color: #202020;
  }

  &:hover {
    background: #ffffff;
    color: #202020;
  }
}

.tv-filter-mp a {
  padding: 5px 25px;
  border: 2px solid #ffffff;
  border-radius: 50px 50px 50px 50px;

  &:active {
    background: #ffffff;
    color: #202020;
  }

  &:hover {
    background: #ffffff;
    color: #202020;
  }
}

.card_view-mp {
  margin-right: 15px;
  display: inline-block;

  img {
    opacity: 0.5;
    width: 50px;
    height: 20px;
  }
}

.list-view-mp {
  display: inline-block;

  img {
    width: 50px;
    height: 20px;
  }
}

.filtering-mp-cl {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;

  div {
    display: inline-block;

    img {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.view-mp {
  display: inline-block;

  .card_view-mp {
    margin-right: 15px;
    display: inline-block;

    img {
      opacity: 0.5;
      width: 50px;
      height: 20px;
    }
  }

  .list-view-mp {
    display: inline-block;

    img {
      width: 50px;
      height: 20px;
    }
  }
}

.view-mp-cl {
  display: inline-block;

  .card_view-mp {
    margin-right: 15px;
    display: inline-block;

    img {
      width: 50px;
      height: 20px;
    }
  }

  .list-view-mp {
    display: inline-block;

    img {
      opacity: 0.5;
      width: 50px;
      height: 20px;
    }
  }
}